@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

/*end fonts*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;    
}
body {
    background-color:#1A237E;
    padding:0px ;
    margin: 0px;
    box-sizing: border-box;
}
.container {   
    width: 100vw;
    height: 80vh;    
    display: block;
}
.formulario {
    position:relative; 
    width: 800px;
    height:auto;    
    background-color:#0D47A1;
    margin-left:auto;
    margin-right: auto;   
    margin-top:08%;
    padding:3% 0% 3% 0%;   
    box-shadow: 0px 10px 13px -7px #000000, 3px 2px 9px 4px rgba(0,0,0,0.26); 
    /*texto*/
    text-align: center;
    text-transform: uppercase;
    color: #ffff;
    padding:2% 0% 2% 0% ;
    font-family: 'Righteous', cursive;   
}

 .formulario::before {
    content: '';   
    position: absolute;   
    top :0%;
    left: -1%;
    right: -1%;
    bottom: 0%;
    background:linear-gradient(315deg, rgba(255,0,87,1) 0%, rgba(230,74,25,1)); 
    transform: skew(3deg,3deg);
    z-index:-6;
}
table {
    position: relative;
    width:100%;    
    height: auto;
    padding:2% 2% 2% 2%;
    margin-top:3%;
}
td {
  text-align: center;
   height: 40px; 
}
td::after {
    content: "";
    height: 2px;
    width:90%;
    display: block;
    margin: 5px auto;
    background-color: #fff;
}

.formulario button {
    position: relative;
    width: 30%;
    height:50px;
    text-align: center;   
    margin:5% 2% 3% 2% ;
    border-radius:8px ;
    text-transform: uppercase;
    background-color:transparent ;
    cursor: pointer;
    font-family: 'Russo One', sans-serif;
    color: #ffff;
    font-size:12pxpx;
    letter-spacing: 10px;   
}
.formulario a{
    color: red;
    text-shadow: -1px 0px 2px rgba(206,23,4,0.9);
    position: relative;
   text-decoration: none;  
}