/*fonts */
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

/*end fonts*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;    
}
body {
    background-color:#1A237E;
    padding:0px ;
    margin: 0px;
    box-sizing: border-box;
}

.formulario {
    position:relative; 
    width: 400px;
    height:auto;    
    background-color:#0D47A1;
    left:50%;
    transform: translateX(-50%);
    top:3%;
    margin:3% 0% 3% 0%;   
    box-shadow: 0px 10px 13px -7px #000000, 3px 2px 9px 4px rgba(0,0,0,0.26); 
    /*texto*/
    text-align: center;
    text-transform: uppercase;
    color: #ffff;
    padding:2% 0% 2% 0% ;
    font-family: 'Righteous', cursive;   
}

.formulario .icon  {
    width: 100%;    
    height:auto;  
    padding:1% ;
    margin: 0% 0% 3% 0%;  
    position: relative;   
}

 
 .formulario form::before {
    content: '';   
    position: absolute;   
    top :0%;
    left: -1%;
    right: -1%;
    bottom: 0%;
    background:linear-gradient(315deg, rgba(255,0,87,1) 0%, rgba(230,74,25,1)); 
    transform: skew(3deg,3deg);
    z-index:-6;
}

.formulario input {
    background-color:transparent;
    position: relative;
     width:90%;
     height:40px;
     margin: 2% 0% 5% 0%;   
     border-radius:8px;
     text-transform: uppercase;
     text-align: center;     
     color: #fff;
}
.formulario button {
    position: relative;
    width: 90%;
    height:50px;
    margin:5% 0% 3% 0% ;
    border-radius:8px ;
    text-transform: uppercase;
    background-color:transparent ;
    /*text*/
    font-family: 'Russo One', sans-serif;
    color: #ffff;
    font-size: 20px;
    letter-spacing: 15px; 
  
}

.formulario label {
   letter-spacing:10px ;
   position: relative;
   
}
.formulario label::after
 {
    content: '';
    height: 2px;
    width:75%;
    display: block;
    margin: 5px auto;
    background-color: #fff;
}